<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1350413812171698"
     crossorigin="anonymous"></script>
<!-- First Ad Unit -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1350413812171698"
     data-ad-slot="4051916290"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- Second Ad Unit - Autorelaxed -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-1350413812171698"
     data-ad-slot="2866008892"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
